---
layout: "/layouts/layout.liquid"
---
<header class="pt-24 pb-4 px-[5%] mx-auto">
  <div class="container mx-auto">
    <!-- Intro Text -->
    <div class="max-w-4xl mb-16">
      <h1 class="text-5xl md:text-7xl mb-4 leading-[1.1] tracking-tight">{{ title }}</h1>
      <p class="text-xl md:text-2xl text-normalLight dark:text-invertedLight leading-tight mb-10">
        {{ header-overview }}
      </p>
      {% if project-link %}
        {%- render 'partials/text-link',
          url: project-link,
          label: 'View live website',
          icon: '<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 256 256"><path d="M204,64V168a12,12,0,0,1-24,0V93L72.49,200.49a12,12,0,0,1-17-17L163,76H88a12,12,0,0,1,0-24H192A12,12,0,0,1,204,64Z"></path></svg>',
          customClasses: 'text-xl font-bold',
          targetBlank: true
        -%}
      {% endif %}
    </div>

    <!-- Full-Width Hero Image -->
    {% if header-img %}
      <div class="w-full rounded-2xl overflow-hidden shadow-medium dark:shadow-mediumInverted">
        <img
          src="{{ header-img }}"
          alt="{{ title }} Hero Image"
          {% if header-img-width and header-img-height %}
            width="{{ header-img-width }}" height="{{ header-img-height }}"
          {% endif %}
          class="w-full h-auto max-h-[800px] object-cover object-top"
        >
      </div>
    {% endif %}
  </div>
</header>
<section class="pt-12 pb-24 px-[5%]">
  <div class="container mx-auto">
    <article class="prose mx-auto max-w-4xl">
      {{ content }}
    </article>
  </div>
</section>

{%- render 'partials/cta-grid' -%}
